// Define variables for your color scheme

// For example:
$pale-red: #F6D0CB;
$red: #D94124;
$yellow: #F2BB05;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F5F5F5;
$mid-gray: #BABABA;


$background-purple: #F1EEFC;

$light-purple: #A28BE3;
$black: #110503;
