.dashboard-card {
  display: flex;
  width: 30%;
  flex-direction: column;
  text-align: center;
}

.dashboard-header {
  border-bottom: 1px solid $red;
  margin: 1rem 1rem;
  padding: 1rem 0rem;
}

.dashboard-container {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  overflow-x:auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $pale-red;
    border-radius: 10px
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 10px;
    border: $red;
  }
}
