// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "friend-card";
@import "new";

// .sticky {
//   position: sticky;
//   top: 0;
// }

.index-crawls {
  height: 100%;
  overflow-y: auto;
  width: calc(95vw - 25rem);
  padding: 0;
  text-align: center;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $pale-red;
    border-radius: 10px
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 10px;
    border: $red;
  }
}


.barcards-container {
  display: flex;
  justify-content: space-between;
  overflow-x:auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $pale-red;
    border-radius: 10px
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 10px;
    border: $red;
  }
}

.activeTabIndex {
  border-bottom: 3px solid $red;
  border-top: 3px solid $red;
  color: $red;
  font-weight: bold;
}
.hoverCursor {
  cursor: pointer;
}
.hoverCursor:hover {
  cursor: pointer;
}

.vertical-line {
  border-right: 2px solid $red;
  height: 30px;

}
