
<div class="background-container">
  <%= image_tag "sky_garden.jpg", alt:"", class:"background-image" %>
  <div class="container home-fullpage">
    <div style="position: absolute;">
      <%# <h1 class="my-2 text-red" style="z-index: 2">BarHop</h1> %>
      <h2 class="mb-4" style="z-index: 2; color: white; font-weight: 700">Streamline your <span class="text-red">night out</span>, discover new bars!</h2>
      <form class="search-box" action="/crawls" accept-charset="UTF-8" method="get">
        <input type="text" name="query" id="query" placeholder="Where to?">
        <button type="submit" name="commit" value="Search" class="search-icon" data-disable-with="Search" style="border:0"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="homepage-featured m-4">Featured BarHop</h3>
  <div class="mt-4 barcards-container">
    <% @crawl.bars.each do |bar| %>
      <%= render "shared/barcards", bar: bar %>
    <% end %>
  </div>
</div>

<div class="container mb-3 px-0 mt-0">
  <div class="card mt-2 shadow-sm rounded-30">
    <div class="rounded-30 m-2" style="overflow:hidden">
      <%= render "shared/uninteractive_main_map" %>
    </div>
  </div>
</div>
