<div class="row">
  <div class="d-flex col-4 mt-5 sticky" style="overflow:hidden">
      <%= render "shared/filters" %>
  </div>
  <div class="col-7 row mt-4 d-flex justify-content-start text-center">
    <div class="d-flex justify-content-around">
    <h5>Creators </h5>
    <h5><strong>Friends</strong> </h5>
    <h5>Public</h5>
    </div>
  <% @crawls.sample(4).each do |crawl| %>
        <%= render "shared/routecards", crawl: crawl %>
      <% end %>
  </div>
</div>

