<div class="d-flex p-4" data-controller="tabs">
  <div class="sticky">
    <%= render "shared/filters" %>
  </div>
  <div class="d-flex flex-column" style="height: 90vh">
    <div class="d-flex justify-content-center pe-4 mb-2">
      <h5 data-tabs-target="friendsButton"  data-action="click->tabs#hideShowFriends"  class="mx-2 hoverCursor">Friends</h5>
      <h5 data-tabs-target="creatorsButton" data-action="click->tabs#hideShowCreators"  class="activeTabIndex mx-2 hoverCursor">Creators</h5>
      <h5 data-tabs-target="publicButton"  data-action="click->tabs#hideShowPublic"  class="mx-2 hoverCursor">Public</h5>
    </div>

    <div data-tabs-target="creatorsCards" class="index-crawls">
      <% @creators_info.shuffle.each do |info| %>
        <%= render "shared/routecards", info: info%>
      <% end %>
    </div>
    <div data-tabs-target="publicCards" class="index-crawls d-none">
      <% @public_info.each do |info| %>
        <%= render "shared/routecards", info: info%>
      <% end %>
    </div>
      <div data-tabs-target="friendsCards" class="index-crawls d-none">
        <% @friends_info.shuffle.each do |info| %>
          <%= render "shared/routecards", info: info%>
        <% end %>
      </div>
  </div>
</div>
<%# <div class="" style="width: 100vw;height: 300px;background-color: #D94124;position: relative">
  <div class="d-flex justify-content-around align-items-center" style="padding-top: 150px;">
    <i class="fa-solid fa-champagne-glasses fa-2xl icon-3x" style="color: #ffffff; font-size: 4em"></i>
    <i class="fa-solid fa-user-group fa-2xl icon-3x" style="color: #ffffff; font-size: 4em"></i>
  </div>
</div> %>
