<div class="d-flex p-4" data-controller="tabs">
  <div class="sticky">
    <%= render "shared/filters" %>
  </div>
  <div class="d-flex flex-column" style="height: 90vh">
    <div class="d-flex justify-content-around pe-4 mb-2">
      <button data-tabs-target="creatorsButton" data-action="click->tabs#hideShowCreators" type="button" class="active-button btn btn-outline-primary">Creators</button>
      <button data-tabs-target="friendsButton"  data-action="click->tabs#hideShowFriends" type="button" class="btn btn-outline-primary">Friends</button>
      <button data-tabs-target="publicButton"  data-action="click->tabs#hideShowPublic" type="button" class="btn btn-outline-primary">Public</button>
    </div>

    <div data-tabs-target="creatorsCards" class="index-crawls">
      <% @creators_info.shuffle.each do |info| %>
        <%= render "shared/routecards", info: info%>
      <% end %>
    </div>
    <div data-tabs-target="publicCards" class="index-crawls d-none">
      <% @public_info.shuffle.each do |info| %>
        <%= render "shared/routecards", info: info%>
      <% end %>
    </div>
      <div data-tabs-target="friendsCards" class="index-crawls d-none">
        <% @friends_info.shuffle.each do |info| %>
          <%= render "shared/routecards", info: info%>
        <% end %>
      </div>
  </div>
</div>
