<div class="container">
  <h1 class="mx-1 my-3" style="text-align: center;" ><i class="fa-solid fa-users" style="color: #D94124"></i></h1>

  <ul class="d-flex px-0" style="flex-wrap: wrap">
    <%= render @users %>
  </ul>
</div>
