<div class="card">
  <img class="card-img-top" src="<%= bar.image_url %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= bar.name %></h5>
    <p class="card-text"><%= bar.description %></p>
    <h6><%= bar.rating %></h6>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

