<div style="width: 30vw; height: 100%; pointer-events: none"
      data-controller="map"
      data-map-markers-value="<%= info[:markers].to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
