<div style="width: 100%; height: 55vh "
      data-controller="favourites-map"
      data-favourites-map-markers-value="<%= @markers.each.to_json %>"
      data-favourites-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
