
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container mt-5 mb-3 border-top">

  <footer class=" text-center text-black">
  <!-- Grid container -->
  <div class="d-flex flex-column align-items-center">

    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-3">
        <!-- Facebook -->
        <a class="btn btn-outline-black btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f footer-icon"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline-black btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter footer-icon"></i
        ></a>

        <%# <!-- Google -->
        <a class="btn btn-outline-black btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a> %>

        <!-- Instagram -->
        <a class="btn btn-outline-black btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram footer-icon"></i
        ></a>
<%#
        <!-- Linkedin -->
        <a class="btn btn-outline-black btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-black btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a> %>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center py-3" style="background-color: rgba();">
    © 2023 Copyright: BarHop
    </div>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
