<nav class="navbar bg-body-tertiary px-4 py-0 pb-1 border-bottom">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path do %>
        <%= image_tag "logo_no_background.png", alt:"Logo", width:"56", height:"56", class:"d-inline-block align-text-top" %>
      <% end %>
      <h2 class="m-0 pt-3 text-red" style="font-weight: 600">BarHop</h2>
    </div>
    <div>
      <%# Changes if a login button is showed or the user avatar %>
      <% if current_user %>
        <%= image_tag "default_avatar.png", alt:"User Photo", class:"avatar d-inline-block align-self-center" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-primary m-3" %>
      <% end %>
    </div>
  </div>
</nav>
