<%# <div class="container mb-3 px-0 mt-0">
  <div class="card mt-2 shadow-sm">
  <div class="card m-2" style="overflow:hidden"> %>
    <div style="width: 100%; height: 40vh; "
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <%# </div>
  </div>
</div> %>
