
<div class="card m-2 px-0 bg-lp rounded-thirty" style="width:25rem; overflow: hidden; height:300px">
    <%= render "shared/map" %>
  <div class="card-body text-center">
    <h5 class="card-title"><strong><%= crawl.crawl_name %></strong></h5>
  </div>
</div>
