<%= link_to crawl_path(info[:crawl]), class: "route-cards-container mx-1 my-2" do %>
  <div class="card px-0 bg-white rounded-30" style ="overflow: hidden;">
      <%= render "shared/uninteractive_cards_map", info:info %>
    <div class="card-body text-center">
      <p class="crawl-name"><strong><%= info[:crawl].crawl_name %></strong></p>
    </div>
  </div>
<% end %>
