
<div class="container"></div>
<div class="">
  <div class="container p-0">
    <h4 class="homepage-featured border-bottom">Featured Bars</h4>
    <div class="mt-4">
      <div class="row mt-4 d-flex justify-content-start">
      <%# CARDS HERE %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/map" %>

