.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  // background-color: $pale-red;
  color: $red;
  border: 1px solid $red;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $red;
  color: white;
}

.tag-item{
  display: inline-block;
}

.tag-selector2 {
  position: absolute;
  transform: scale(0);
}

.tag-selector2 + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  // background-color: $pale-red;
  color: $red;
  // border: 1px solid $red;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector2:checked + label {
  background-color: $red;
  color: white;
}
